---
 title: 'Verification Email'
---


<x-head username="mina"/>

<x-paragraph>
   Thank you for signing up for our service. To complete your registration, please verify your email address by clicking the link below:
</paragraph>

<x-button class="text-center mt-10 mb-10" padding="p-6">
   verify
</x-button>

<x-paragraph>
   This link will expire in 48 hours. If you did not sign up for our service, please disregard this email.Verifying your email address allows you to access all features of your account, ensures we can communicate with you effectively, and provides an extra layer of security.

   Please let us know if you have any questions!
</paragraph>

<x-footer/>
